*.user
*.vcxproj.FileListAbsolute.txt
*.vcxproj.filter
*.pdb
*.idb
*.tmp
*.obj
*.o
*.a
*.db
*.tlog
*.recipe
*.log
*.out
*.tap
*.wav
*.mp4
*.sna
*.txt
!CMakeLists.txt
# The blanket *.txt above is aimed at build output, but the release tree ships a
# few genuine text files. They stay tracked once added, however a delete followed
# by a restore is silently dropped again, so name them explicitly.
!osdk/main/Osdk/_final_/Oricutron/LICENSE.txt
!osdk/main/Osdk/_final_/Oricutron/Links.txt
!osdk/main/Osdk/_final_/Oricutron/ChangeLog.txt
!osdk/main/Osdk/_final_/Oricutron/ReadMe.txt
*.swp
*.vsidx
*.suo
*.bmp
DUMP
symbols
osdk/main/.vs/
osdk/main/Build/
osdk/main/Osdk/_final_/Oricutron/*.gif
osdk/main/Osdk/_final_/Oricutron/*.avi
osdk/main/Osdk/_final_/Oricutron/*.dsk
osdk/main/Osdk/_final_/Oricutron/*.imd
osdk/main/Osdk/_final_/Oricutron/*.hfe
osdk/main/Osdk/_final_/Oricutron/*.zip
*copy.*
*- Copy*
osdk/main/Osdk/_final_/TMP/
osdk/main/Osdk/_final_/sample/**/build/

[Dd]ebug/
[Rr]elease/

osdk/main/Osdk/_final_/Oricutron/videos/
osdk/OldVersions/
osdk/main/Osdk/_final_/sample/assembly/known_issues/
osdk/main/osdk_issues.md

euphoric_tools/4k8/4k8totap
euphoric_tools/4k8/4k8towav
euphoric_tools/txt2bas/txt2bas
osdk/main/DskTool/DskTool
osdk/main/FloppyBuilder/FloppyBuilder
osdk/main/MemMap/memmap
osdk/main/TapTool/TapTool
osdk/main/Ym2Mym/Ym2Mym
osdk/main/bas2tap/bas2tap
osdk/main/bin2txt/bin2txt
osdk/main/common/libcommon.a
osdk/main/compiler/compiler
osdk/main/filepack/filepack
osdk/main/header/header
osdk/main/link65/link65
osdk/main/macrosplitter/macrosplitter
osdk/main/old2mfm/old2mfm
osdk/main/opt65/opt65
osdk/main/pictconv/pictconv
osdk/main/tap2cd/tap2cd
osdk/main/tap2dsk/tap2dsk
osdk/main/xa/xa

